

html{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
/*---COMON----*/
.row{
    float: left;
    width: 100%;
}
.column{
    width: 45px;
    height: 45px;
    float: left;
    border: 1px solid #9c5618;
}

.first{
    position: relative;
    color:#9c5518 ;
    font-weight: 900;
    border: 1px solid #9c561800;
}
.white{
    background-color:#F8EFBA;
    color: #9c5518;
} 
.black{
    background-color:#9c5518;
    color:#F8EFBA; 
}
.letter{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 120%;
}
.piece{
    font-size: 200%; 
    text-align: center;
}

/*---CHESSBOARD DIV--*/
.board{
    width: 376px;
    height: 376px;
    border: 3px solid #9c5518;
}

.number{
    text-align: left; 
    font-weight: 900;  
}

/*---CHESSBOARD LIST---*/

ul.row{
    display: flex;
    margin: 0 30%;
    list-style-type: none;
}
/*---CHESSBOARD-TABLE---*/
.board-table{
    border-collapse: collapse;
}