

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-top: 70px;
}
/*---COMON----*/
.column{
    width: 3rem;
    height: 3rem;
    float: left;
    border: 1px solid #9c5618;
}

.first{
    position: relative;
    color:#9c5518 ;
    font-weight: 900;
    border: 1px solid rgba(156, 86, 24, 0);
}
.white{
    background-color:#F8EFBA;
    color: #9c5518;
} 
.black{
    background-color:#9c5518;
    color:#F8EFBA; 
}
.letter{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 120%;
}
.piece{
    font-size: 200%; 
    text-align: center;
    color:initial;
}

/*---CHESSBOARD DIV--*/
.board{
    width: 25rem;
    border: 3px solid #9c5518;
}

.number{
    text-align: left; 
    font-weight: 900;  
}

/*---CHESSBOARD LIST---*/
.row{
    float: left;
}
ul.row{
    display: flex;
    margin: 0 30%;
    list-style-type: none;
}

/*---CHESSBOARD-TABLE---*/
.board-table{
    table-layout: fixed;
    border-collapse: collapse;
}